<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/chat.png') }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>FastChat</title>
</head>
<body>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        {% if category == 'error' %}
        <script>
            Swal.fire({
                title: "{{ message }}",
                icon: "error",
                showConfirmButton: false,
                timer: 3000
                });
            setTimeout(function () {
                window.location.href = "{{ url_for('register') }}";
            }, 3000);  
        </script>
        {% elif category == 'success' %}
        <script>
            Swal.fire({
                title: "{{ message }}",
                icon: "success",
                showConfirmButton: false,
                timer: 3000
                });
            setTimeout(function () {
                window.location.href = "{{ url_for('home') }}";
            }, 3000);  
        </script>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}
    <header>
        <span class="logo-div">
            <img class="logo" src="{{ url_for('static', filename='images/chat.png') }}" alt="">
            <p class="logo-title">Fast<span class="rainbow-text">Chat</span></p>
            </span>
        <nav class="navigation">
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Contact</a>
            <button class="login" id="login-button" data-login-url="{{ url_for('login') }}"><ion-icon name="log-in"></ion-icon>Sign In</ion-icon></button>
            <button class="register" id="register-button" data-register-url="{{ url_for('register') }}"><ion-icon name="person-add"></ion-icon>Sign Up</button>
        </nav>
    </header>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    
</body>
</html>
